{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Moj sklep{% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
</head>
<body>
    <div id="header">
        <a href="/" class="logo">Moj Sklep</a>
    </div>
    <div id="subheader">
        <div class="cart">
            Koszyk jest pusty.
        </div>
    </div>
    <div>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>

