{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Moj sklep{% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
</head>
<body>
    <div id="header">
        <a href="/" class="logo">Moj Sklep</a>
    </div>
    <div id="subheader">
        <div class="cart">
            {% with total_items=cart|length %}
                {% if total_items > 0 %}
                    Koszyk:
                    <a href="{% url "cart:cart_detail" %}">
                        {{ total_items }} produkt {{ total_items|pluralize:"y" }}
                        {{ cart.get_total_sum }} zl
                    </a>
                {% else %}
                    Koszyk jest pusty!
                {% endif %}
            {% endwith %}
        </div>
    </div>
    <div>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>

